p{ 
    text-align: left;
    color: antiquewhite;
}
h1{
    text-align: center;

}
h1{
    color:purple;
}
h2{
    color: purple;
}
li{
    color: white;
}
body{  
    background-color:hsla(78, 78%, 55%, 0.937);
    background-image: url(../Pictures/Ai1qLZ.jpg);
}